/**
Challenge: 

- Add some styling! Be creative, play with layout a bit
  (Spoiler: I'm going to use a single-column flexbox layout)
  add some color, grab a font from Google fonts - whatever
  you'd like!
*/

body {
  margin: 0 2em;
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;  
  background: rgba(255, 176, 5, 0.815);
  background-image: url(../images/frame-with-ligh-bulb-set1.jpg);  
  background-size:cover; 
  background-position: center center;
  background-repeat: no-repeat;  
}

.container {
  background-color: white;
  border-radius: 1em;
  padding: 0 3em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 60%;
  min-width: 305px;
  width: 430px;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;  
  color: rgb(31, 31, 31);
}

.api_changes {
  animation: color 2s;
}

#btn {
  padding: 2em 2.5em;
  margin-top: 2em;
  border-radius: 50%;
  border:none;
  background-color: brown;
  cursor: pointer;
  background-image: radial-gradient(circle 50px, rgb(255, 255, 0, 0.5), rgb(165, 42, 42, 0.5));
  
}

#btn:hover,
#btn:focus {
  background-color:rgb(218, 54, 54);
  background-image: radial-gradient(circle 50px, rgb(255, 255, 0, 0.5), rgb(218, 54, 54, 0.5));
  transform: scale(1.1);
}

#btn:active {
  transform: scale(1);
  background-image: radial-gradient(circle 50px, rgb(255, 255, 0, 0.5), rgb(165, 42, 42, 0.5));
}

.fa-lightbulb {
  font-size: 2rem;
  color: yellow;
}


@keyframes color {
  from {
    color: #ffe100;
  }

  to {
    color:rgb(31, 31, 31);
  }
}

@media all and (max-width:700px) {
  body {
    height: 100vh;
    background-image: url(../images/frame-with-ligh-bulb-set_2_50.jpg);
    background-size: cover; 
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.7rem;    
  }

  h3 {
    font-size: 1.2rem;
    color: black;
  }

  p {
    font-size: .7rem;
  }

  #btn {
    padding: 1.5em 2em;    
  }

  .fa-lightbulb {
    font-size: 1.7rem;    
  }

}